

.container img {
    border: 1px solid #000000;




}

.container h1 {
    color: #006400;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: block;
    text-align: center;
    padding: 10px;
}

.add_form {
    border: 5px solid black; /* рамка 5 пикселей */
    padding: 50px;/* отступы 50 пикселей */
    margin: 50px;
}
.container .main .total_count {
    margin-bottom: 20px;
}
.container .main. total_count label, .total_count span {
    display: inline-block;
    vertical-align: middle;
}


.carousel-inner img half_size_img{
  height: 50vh;
  object-fit: cover;
  width: 100%;
  margin: 0 auto; /* Центрирует изображение по горизонтали */
  display: block; /* Устанавливает изображение в качестве блочного элемента */
}

.half_size {
    height: 50vh;
    width: 100%;
}

.carousel-custom-size {
  width: 70%; /* Установить ширину карусели на 70% */
  margin: 0 auto; /* Центрировать карусель по горизонтали */
}

.message-response {
  border: 2px solid black;
  width: 70%; /* Ширина контейнера на 70% родительского контейнера */
  margin: 0 auto; /* Центрирование контейнера по горизонтали */
  padding: 10px; /* Поля внутри контейнера */
  font-style: italic;
}
.loading-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.loading-dialog .spinner {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}

.danger-zone {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.danger-zone button {
    width: 100%;
    max-width: 300px; /* Adjust the max-width as needed */
    margin-bottom: 10px;
}

.user_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    align-items: center;
    padding: 20px;
}

.user_info img{
    max-width: 300px;
    max-height: 300px;
}



