<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Advices</title>
  <link rel="stylesheet" type="text/css" th:href="@{static/css/bootstrap.min.css}"/>
  <link th:href="@{static/css/style.css}" rel="stylesheet" />

</head>
<body>
<div class="container">
  <div class="navigator">
    <ul class="nav justify-content-center nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" th:href="@{/index}">Balance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/incomes}">Incomes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/expenses}">Expenses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/charts}">Statistic</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/goals}">Goals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/advices}">Advices</a>
      </li>
    </ul>
  </div>
  <div class="main">
    <h1>Advices</h1>
    <form id="userMessageForm" th:action="@{/advices}" method="post">
      <label for="dataListQuestion" class="form-label">Enter your question for AI:</label>
      <input type=text name=userMessage class="form-control" list="datalistOptions" id="dataListQuestion" placeholder="Enter your question here...">
      <datalist id="datalistOptions">
        <option value="How can I decrease my expenses?">
        <option value="How can I increase my incomes?">
        <option value="What is the best ratio between expenses and incomes?">
        <option value="What is best way to save my money?">
        <option value="What is the first need products in life?">
      </datalist>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">ASK</button>
      </div>

    </form>
    <div class="message-response">
      <p th:text="${response}"></p>
    </div>
  </div>
  <div id="loadingDialog" class="loading-dialog hidden">
    <div class="spinner"></div>
    <p>Ожидайте ответа ИИ...</p>
  </div>
  <div class="footer">
    <div class="copyright">
      <p>&copy; 2024 Колесникова Полина. Все права защищены. | Email: <a href="mailto:alraunepolina@yandex.ru">alraunepolina@yandex.ru</a></p>
    </div>
    <div class="danger-zone">
      <h3>Danger Zone</h3>
      <button class="btn btn-danger" onclick="deleteAllRecords()">Delete All Records</button>
      <button class="btn btn-warning" onclick="logout()">LOGOUT</button>
      <button class="btn btn-success" onclick="deleteUser()">DELETE USER</button>
    </div>
  </div>
</div>


</body>
<script th:inline="javascript">
  var userId = [[${userId}]];
 document.ready(function() {
  $('#userMessageForm').submit(function(event) {
    event.preventDefault(); // Отменяем стандартное поведение формы

    // Отображаем диалоговое окно с анимацией загрузки
    $('#loadingDialog').removeClass('hidden');

    // Делаем задержку в 10 секунд
    setTimeout(function() {
      // Отправляем данные формы на сервер
      $.post($(this).attr('action'), $(this).serialize(), function(response) {
        // При получении ответа от сервера скрываем диалоговое окно с анимацией загрузки
        $('#loadingDialog').addClass('hidden');
        // Отображаем ответ ИИ в контейнере для ответа
        $('#responseContainer').html(response);
      });

    }, 10000); // 10 секунд задержка
  });
});

 function deleteAllRecords() {
   if (confirm('Are you sure you want to delete all records from all tables? This action cannot be undone.')) {
     fetch('index/deleteAll', {
       method: 'DELETE',
       headers: {
         'Content-Type': 'application/json'
       }
     })
             .then(response => {
               if (response.ok) {
                 alert('All records have been successfully deleted.');
                 window.location.reload();
               } else {
                 alert('An error occurred while deleting records.');
               }
             })
             .catch(error => {
               console.error('Error:', error);
               alert('An error occurred while deleting records.');
             });
   }
 }

 function logout() {
   fetch('/logout', { method: 'POST' })
           .then(response => {
             if (response.ok) {
               window.location.href = '/login?logout';
             } else {
               console.error('Logout failed');
             }
           })
           .catch(error => console.error('Error:', error));
 }
 function deleteUser() {
   if (confirm('Are you sure you want to delete your account? This action cannot be undone.')) {
     fetch('index/user/delete/' +userId, { method: 'DELETE' })
             .then(response => {
               if (response.ok) {
                 return logout();
               } else {
                 alert('An error occurred while deleting the user.');
               }
             })
             .catch(error => {
               console.error('Error:', error);
               alert('An error occurred while deleting the user.');
             });
   }
 }

</script>
</html>