<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{static/css/bootstrap.min.css}"/>
  <link th:href="@{static/css/style.css}" rel="stylesheet" />
  <title>Charts</title>
</head>
<body>
<h1>График</h1>
<div class="navigator">
  <ul class="nav justify-content-center nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" th:href="@{/index}">Balance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/incomes}">Incomes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/expenses}">Expenses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/charts}">Statistic</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/goals}">Goals</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/advices}">Advices</a>
    </li>
  </ul>
</div>
<div style="display: flex;">
  <img th:src="@{/static/img/income_chart.png}" alt="Chart Image" src="">
  <img th:src="@{/static/img/expence_chart.png}" alt="Chart Image" src="">
  <img th:src="@{/static/img/balance_chart.png}" alt="Chart Image" src="">
</div>

</body>
</html>
