<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link th:href="@{static/css/style.css}" rel="stylesheet" />
  <title>Incomes</title>
</head>
<body>
<h1>Incomes</h1>
<table>
  <thead>
  <tr>
    <th>Amount</th>
    <th>Source</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="income : ${incomes}">
    <td th:text="${income.amount}"></td>
    <td th:text="${income.source}"></td>
    <td th:text="${income.date}"></td>
    <td><a class="btn btn-success" th:href="@{incomes/update/{id}(id=${income.id})}"
           title="Изменить">Edit</a>&nbsp;
      <a class="btn btn-danger" th:href="@{incomes/delete/{id}(id=${income.id})}"
         title="Удалить">Delete</a></td>
  </tr>
  </tbody>
</table>

<h2>Add income</h2>
<form action="/incomes" method="post">
  Amount: <input type="text" name="amount"><br />
  Source: <input type="text" name="source"><br />
  Date: <input type="date" step="any" name="date" pattern="yyyy-MM-dd"><br />
  <button type="submit">ADD</button>
</form>
</body>
</html>