<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
</head>
<body>
<form th:action="@{/registration}" method="post" th:object="${user}">
    <input th:field="*{email}" type="text" name="email" id="email">
    <input th:field="*{login}" type="text" name="login" id="login">
    <input th:field="*{password}" type="password" name="password" id="password">
    <input th:field="*{firstName}" type="text" name="firstName" id="firstName">
    <input th:field="*{lastName}" type="text" name="lastName" id="lastName">
    <input th:field="*{birthDate}" type="text" name="birthDate" id="birthDate" pattern="\d{4}-\d{2}-\d{2}">

    <input type="submit" value="зарегистрироваться">
</form>

</body>
</html>